$primary:#133e75;
$white: #ffffff;
$danger:#dc3545;
$dark:#000000;
.content-title{
    height: 50px;
    align-items: center;
    margin: auto;
    background-color: $primary;
    color: $white;
}
.btn{
    border-radius: 20px 20px;
    padding: 5px 25px 5px 25px;
}
.button-primary{
    background-color: $primary;
    color: $white;
}
.btn:hover{
    color: $white;
}
.d-block.modal{
    z-index: 1056;
}
.btn-outline-primary{
    color: $primary;
    border-color: $primary;
    &:hover {
        background-color: $primary;
        border-color: $primary;
    }
}
.was-validated {
    .form-control:invalid{
        background-image:none;
    }
    .form-control:valid{
        background-image:none;
        border-color: #ced4da;
        border-radius: 0.25rem;
    }
    .form-control.ng-invalid{
        border-color: $danger;
    }
    .form-check-input:valid ~ .form-check-label{
        color: $dark;
    }
}