<div class="container-main-modal">
    <div class="modal-header">
        <div class="modal-title w-100 p-3">
            <div class="float-left">
                <h4>Add Product to {{data?.data}}</h4><span> Step 1 of 3</span>
            </div>
            <div class="float-right pt-2">
                <button type="button" class="close" data-dismiss="modal" (click)="close()">
                    &times;
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body p-xl-5 p-lg-5 p-mb-2 p-sm-2 p-2 clearfix">
        <div class="p-xl-4 p-lg-4 p-mb-3 p-sm-3 p-3">
            <form [formGroup]="productAddStepOne" class="needs-validation pl-3 pr-3" [ngClass]="{'was-validated':submitted}"
                novalidate>
                <!--Field first start-->
                <div class="form-group">
                    <label for="upc" class="form-label">UPC</label>
                    <input type="text" class="form-control" formControlName="upc" id="upc" placeholder="Enter UPC"
                        required>
                    <div *ngIf="submitted && productAddStepOneFormValue['upc'].errors" class="alert alert-danger">
                        <ng-container *ngIf="productAddStepOneFormValue['upc'].errors.required">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            This field is required.
                        </ng-container>
                    </div>
                </div>
                <!--Field first end-->
                <!--Field second start-->
                <div class="form-group">
                    <label for="activity">Activity</label>
                    <select class="form-control" formControlName="activity" id="activity" required>
                        <option value="">
                            Choose an Activity
                        </option>
                        <option *ngFor="let activity of activityDropDownData" [value]="activity?.id">
                            {{ activity?.displayText }}
                        </option>
                    </select>
                    <div *ngIf="submitted && productAddStepOneFormValue['activity'].errors" class="alert alert-danger">
                        <ng-container *ngIf="productAddStepOneFormValue['activity'].errors.required">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            This field is required.
                        </ng-container>
                    </div>
                </div>
                <!--Field second end-->
                <!--Field third start-->
                <div class="form-group">
                    <label for="shelflife">Shelf Life (Days)</label>
                    <input type="text" formControlName="shelfLife" class="form-control" id="shelflife"
                        placeholder="Enter Days" required>
                    <div *ngIf="submitted && productAddStepOneFormValue['shelfLife'].errors" class="alert alert-danger">
                        <ng-container *ngIf="productAddStepOneFormValue['shelfLife'].errors.required">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            This field is required.
                        </ng-container>
                        <ng-container *ngIf="productAddStepOneFormValue['shelfLife'].errors.pattern">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            Shelf life days should be numberic.
                        </ng-container>
                    </div>
                </div>
                <!--Field third end-->
                <!--Field four start-->
                <div class="form-group pt-2">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="activityInStoreFlag" type="checkbox"
                            id="activityinstore" required>
                        <label class="form-check-label" for="activityinstore">
                            Activites In Stores
                        </label>
                    </div>
                </div>
                <!--Field four end-->
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col">
            <div class="float-left">
                <button type="button" class="btn btn-outline-primary mr-2" (click)="close()">Cancel</button>
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-outline-primary" (click)="stepOneSubmitForm()">Select
                    Divisions</button>
            </div>
        </div>
    </div>
</div>