<div class="w-100">
    <span>
        Step {{stepManageVariable}} of 3
    </span>
    <div class="dialog-body padding-2 clearfix" *ngIf="stepManageVariable < 2">
        <div [ngClass]="{'p-5':!submitted,'padding-body':submitted}">
            <!--Step 1 start-->
            <form [formGroup]="productAddStepOne" class="needs-validation pl-3 pr-3"
                [ngClass]="{'was-validated':submitted}" novalidate *ngIf="stepManageVariable === 1">
                <!--Field first start-->
                <div class="form-group">
                    <label for="upc" class="form-label">UPC</label>
                    <input type="text" class="form-control" pInputText formControlName="upc" id="upc"
                        placeholder="Enter UPC" required>
                    <div *ngIf="submitted && productAddStepOneFormValue['upc'].errors"
                        class="alert alert-danger d-flex">
                        <ng-container *ngIf="productAddStepOneFormValue['upc'].errors.required">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            <span>This field is required.</span>
                        </ng-container>
                    </div>
                </div>
                <!--Field first end-->
                <!--Field second start-->
                <div class="form-group">
                    <label for="activity">Activity</label>
                    <select class="form-control" formControlName="activity" id="activity" required>
                        <option value="">
                            Choose an Activity
                        </option>
                        <option *ngFor="let activity of activityDropDownData" [value]="activity?.id">
                            {{ activity?.displayText }}
                        </option>
                    </select>
                    <div *ngIf="submitted && productAddStepOneFormValue['activity'].errors"
                        class="alert alert-danger d-flex">
                        <ng-container *ngIf="productAddStepOneFormValue['activity'].errors.required">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            This field is required.
                        </ng-container>
                    </div>
                </div>
                <!--Field second end-->
                <!--Field third start-->
                <div class="form-group">
                    <label for="shelflife">Shelf Life (Days)</label>
                    <input type="text" formControlName="shelfLife" pInputText class="form-control" id="shelflife"
                        placeholder="Enter Days" required>
                    <div *ngIf="submitted && productAddStepOneFormValue['shelfLife'].errors"
                        class="alert alert-danger d-flex">
                        <ng-container *ngIf="productAddStepOneFormValue['shelfLife'].errors.required">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            This field is required.
                        </ng-container>
                        <ng-container *ngIf="productAddStepOneFormValue['shelfLife'].errors.pattern">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            Shelf life days should be numberic.
                        </ng-container>
                    </div>
                </div>
                <!--Field third end-->
                <!--Field date picker start-->
                <div class="form-group" *ngIf="productAddStepOneFormValue['activityInStoreFlag'].value?.length">
                    <label for="icon">Date Picker</label>
                    <div>
                        <p-calendar placeholder="Select Date" appendTo='body' baseZIndex="11001" formControlName="activeDate" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon">
                        </p-calendar>
                    </div>
                    <div *ngIf="submitted && productAddStepOneFormValue['activeDate'].errors"
                        class="alert alert-danger d-flex">
                        <ng-container *ngIf="productAddStepOneFormValue['activeDate'].errors.required">
                            <img src="../../../../assets/images/experimental_icon1.png" height="20px">
                            This field is required.
                        </ng-container>
                    </div>
                </div>
                <!--Field date picker end-->
                <!--Field four start-->
                <div class="form-group">
                    <div class="p-field-checkbox">
                        <p-checkbox name="group1" value="Activites In Stores" formControlName="activityInStoreFlag"
                            inputId="ais"></p-checkbox>
                        <label for="ais" class="mb-0 pl-2"
                            [ngClass]="{'text-danger':productAddStepOneFormValue['activityInStoreFlag']?.errors?.required && submitted}">Activites
                            In Stores</label>
                    </div>
                </div>
                <!--Field four end-->
            </form>
            <!--Step 1 end-->
            <!--Step 0 start add product-->
            <ng-container *ngIf="stepManageVariable === 0">
                <div class="text-center font-weight-bold text-muted">Select a Department</div>
                <div class="row justify-content-center pt-3">
                    <div class="col-auto">
                        <div class="card text-center p-3">
                            <div class="card-body">
                                <div class="rounded-circle image-circle">
                                    <img src="../../../assets/images/bakery.png" class="img-fluid p-2" alt="bakery"
                                        width="120" />
                                </div>
                                <p class="card-text font-weight-bold pt-3 text-muted">Backery</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card text-center p-3">
                            <div class="card-body">
                                <div class="rounded-circle image-circle">
                                    <img src="../../../assets/images/milk.png" class="img-fluid p-2" alt="bakery"
                                        width="120" />
                                </div>
                                <p class="card-text font-weight-bold pt-3 text-muted">Deli</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!--Step 0 end add product-->
        </div>
    </div>
    <!--Step 2 start-->
    <ng-container *ngIf="stepManageVariable === 2">
        <div class="w-100 dialog-body padding-1">
            <div class="alert border-0 alert-info">
                <div class="row d-flex align-items-center">
                    <div class="col-1">
                        <i class="fa fa-edit fa-2x"></i>
                    </div>
                    <div class="col-11">
                        <div>000111106</div>
                        <div>Backery Fresh Goodness Iced Angel Food Cake</div>
                    </div>
                </div>
            </div>
            <div class="alert alert-warning" role="alert">
                <i class="fa fa-exclamation-triangle pr-2"></i>This product exists in one or more divisions. You
                may in
                impacted divisions.
            </div>
            <div class="table-responsive">
                <table class="table table-striped" height='50%'>
                    <thead>
                        <tr>
                            <td colspan="3">
                                <div class="p-field-checkbox ml-3">
                                    <p-checkbox name="selectAll" value="true" (onChange)="selectAll($event)"
                                        [binary]="true"></p-checkbox>
                                    <label for="selectAll" class="mb-0 select-all-margin">Select All</label>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="tbody-scroll">
                        <tr *ngFor="let country of countryList;let i=index;">
                            <td scope="row" class="col-1">
                                <div class="p-field-checkbox ml-3">
                                    <p-checkbox name="checkBoxItem" [(ngModel)]="country.checked" [binary]="true">
                                    </p-checkbox>
                                    <label for="defaultCheck-{{i}}" class="mb-0 margin-left"></label>
                                </div>
                            </td>
                            <td class="col-3">{{country?.counteryName}}</td>
                            <td class="col-8">{{country?.displayText}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span>Divisions: 0 of {{countryList?.length}}</span>
        </div>
    </ng-container>
    <!--Step 2 end-->
    <!--Step 3 start-->
    <ng-container *ngIf="stepManageVariable === 3">
        <div class="w-100 dialog-body padding-2">
            <div class="text-center pb-3">
                <div class="d-flex justify-content-center pb-2">
                    <div class="rounded-circle icon-rightclick"><i class="fa fa-check pt-4 fa-5x"
                            aria-hidden="true"></i></div>
                </div>
                <h3><b>Product added to 14 divisions</b></h3>
                <span>432 stores</span>
            </div>
            <div class="alert alert-success border-0 p-3">
                <h6>000111106</h6>
                <p>Backery Fresh Goodness Iced Angel Food Cake</p>
                <div>Prep for Tomorrow</div>
                <div>Shelf Life : 2</div>
                <div>Active In Stores</div>
            </div>
        </div>
    </ng-container>
    <!--Step 3 end-->
    <!--footer start-->
    <div class="ui-dialog-footer">
        <div class="col">
            <div class="float-left">
                <p-button *ngIf="stepManageVariable < 2" type="button" label="Cancel"
                    styleClass="btn btn-outline-primary mr-2" (click)="close()">
                </p-button>
                <p-button *ngIf="stepManageVariable === 2" type="button" label="Back"
                    styleClass="btn btn-outline-primary mr-2" (click)="backStep(1)">
                </p-button>
            </div>
            <div class="float-right">
                <p-button type="submit" *ngIf="stepManageVariable === 1" label="Select Divisions"
                    styleClass="btn btn-outline-primary" (click)="stepOneSubmitForm()"></p-button>
                <p-button type="button" *ngIf="stepManageVariable === 2" (click)="stepTwoSubmitForm()" label="Finish"
                    styleClass="btn btn-outline-primary mr-2">
                </p-button>
                <p-button *ngIf="stepManageVariable === 3" type="button" label="Exit"
                    styleClass="btn btn-outline-primary mr-2" (click)="close()">
                </p-button>
                <p-button *ngIf="stepManageVariable === 3" type="button" label="Add Another Product"
                    styleClass="btn btn-outline-primary mr-2" (click)="addAnotherProduct()">
                </p-button>
            </div>
        </div>
    </div>
    <!--footer end-->
</div>