/* You can add global styles to this file, and also import other style files */
//basic color variable
@import './Less/common-style.less';   
@import './Less/alert-style.less';
@import './Less/element-style.less';
@import './Less/grid-style.less';
@import './Less/padding-style.less';
@import './Less/table-style.less';
@import './Less/scrollbar-style.less';
@import './Less/variables.less';
.content-title {
    height: 3.125rem;
    align-items: center;
    margin: auto;
    background-color: @primary;
    color: @white;
}

.btn {
    border-radius: 1.25rem 1.25rem !important;
    padding: 0.313rem 1.563rem 0.313rem 1.563rem !important;
}

.button-primary {
    background-color: @primary !important;
    color: @white !important;
}

.p-button {
    background-color: @white !important;
    color: @primary !important;
}

.btn:hover {
    color: @white !important;
}

.ui-button {
    background-color: @white !important;
}

.btn-outline-primary {
    color: @primary !important;
    border-color: @primary !important;

    &:hover {
        background-color: @primary !important;
        border-color: @primary !important;
    }
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: @primary !important;
    border-color: @primary !important;
}

.was-validated {
    .form-control:invalid {
        background-image: none !important;
    }

    .form-control:valid {
        background-image: none !important;
        border-color: #ced4da !important;
        border-radius: 0.25rem !important;
    }

    .form-control.ng-invalid {
        border-color: @red !important;
    }
}

.ui-dialog {
    .ui-dialog-titlebar {
        height: 5.9375rem;
        background-color: @white !important;
        padding: 1.6rem !important;
        font-size: 1.5rem !important;
    }

    .ui-dialog-footer {
        border: none !important;
        border-top: 1px solid #dee2e6 !important;
        display: flex;
        height: 5.9375rem;
        padding: 1rem !important;
        align-items: center;
        width: 100%;
        position: sticky !important;
        left: 0;
        bottom: 0;
    }
}

.dialog-body {
    height: auto;
    overflow-y: auto;
}
