/* You can add global styles to this file, and also import other style files */
.content-title{
    height: 50px;
    align-items: center;
    margin: auto;
    background-color: #133e75;
    color: #ffffff;
}
.btn{
    border-radius: 20px 20px !important;
    padding: 5px 25px 5px 25px !important;
}
.button-primary{
    background-color: #133e75 !important;
    color: #ffffff !important;
}
.btn:hover{
    color: #ffffff !important;
}
.d-block.modal{
    z-index: 1056 !important;
}
.btn-outline-primary{
    color: #133e75 !important;
    border-color: #133e75 !important;
    &:hover {
        background-color: #133e75 !important;
        border-color: #133e75 !important;
    }
}
.btn-outline-primary:not(:disabled):not(.disabled):active{
    background-color: #133e75 !important;
    border-color: #133e75 !important;   
}
.was-validated {
    .form-control:invalid{
        background-image:none !important;
    }
    .form-control:valid{
        background-image:none !important;
        border-color: #ced4da !important;
        border-radius: 0.25rem !important;
    }
    .form-control.ng-invalid{
        border-color: #dc3545 !important;
    }
    .form-check-input:valid ~ .form-check-label{
        color: #000000 !important;
    }
}
.form-check-label {
    padding-top: 2px !important;
    padding-left: 15px !important;
}
.alert{
    padding: 0.15rem 1rem !important;
    margin-top: 0.5rem !important;
    border-color: #dc3545 !important;
}
input[type=checkbox]{
    width: 1.25rem;
    height: 1.25rem;
}